/* common codes */
body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
}



/* darker image of slider */

.slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

/* .carousel-inner > .carousel-item > .carousel-caption > .carouselt-title */

.carousel-caption {


    transform: translateY(-30%);
    text-align: center;
    top: 50%;

}

.carousel-title {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
    opacity: 100;
}

.carousel-content {
    font-size: 10px;
    font-weight: 400;
    color: #f4f4f4;
    opacity: 100;
}

.card {
    border: none;
}

.card-title {
    font-size: 45px;
    font-weight: 600;
    color: #1D1D1D;
}

.card-text {
    font-size: 16px;
    font-weight: 400;
    color: #777777;
}


.companies-part .company-names img {
    padding-left: 40px;
}

footer {

    background-color: #161616;
    ;
}

.footer-content h2 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

.footer-content p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.footer-content i {
    color: #ffffff;
    padding-left: 10px;

}