body {
    font-family: 'Poppins', sans-serif;
}

.carousel-inner {
    height: 700px;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-30%);
}

.discover-heading {
    height: 190px;
    width: 606px;
}